/* Min Width 1400px */
@media only screen and (min-width:1400px){
    .container{
        max-width: 1380px !important;
    }

    .filtered-products{
        grid-template-columns: repeat(5,1f);
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .single-ver-card .card-content{
        padding: 18px;
    }
}

/* Min Width 992px and Max Width 1199px */
@media only screen and (min-width:992px) and (max-width:1199px){

    .banner-main-content .owl-stage-outer{
        min-height: 250px;
    }

    .banner-main-content img{
        min-height: 250px;
    }

    .news-letter input{
        width: 100%;
    }

    .news-sign-up{
        right: 0;
        width: 80px;
    }
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    /* Main Nav */

    .nav-search{
        position: relative;
        margin: 0 16px;
    }

    .nav-search-btn{
        position: absolute;
        width: 45px;
        height: 100%;
        top: 0;
        right: -20px;
        font-size: 18px;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: 0 5px 5px 0;
    }

    .nav-toggle{
        display: none;
    }

    /* Category Nav */

    .woo-categories-nav{
        width: 100%;
        height: 35px;
        font-weight: var(--font-weight-bold);
        color: var(--white-color);
        background-color: var(--primary-color);
        text-align: center;
        border-radius: 5px 5px 0 0;
        line-height: 35px;
        cursor: pointer;
    }
    
    .product-navigation{
        display: grid;
        grid-template-columns: 240px 1fr;
    }
    
    .category-list{
        position: relative;
        height: max-content;
        background-color: var(--white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        transform: scaleY(1);
        transform-origin: top;
        transition: var(--transition);
        line-height: 35px;
        z-index: 10;
    }
    
    .category-list .has-children .fa-chevron-right{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .woo-categories-nav.active .category-list{
        transform: scaleY(0);
    }
    
    .category-list li a{
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4px 0 3px 16px;
        font-weight: var(--font-weight-normal);
        text-align: left;
        transition: var(--transition);
        opacity: 1;
        visibility: visible;
    }
    
    .woo-categories-nav.active li a{
        opacity: 0;
        visibility:hidden;
    }
    
    .category-list li a:hover{
        background-color: #F3F3F3;
    }
    
    .category-list li:hover > .sub-menu{
       display: block;
    }
    
    .category-list li a i{
        font-size: 1rem;
        margin-right: 14px;
    }
    
    .woo-categories-nav .category-list li a i{
        margin-right: 5px;
    }
    
    .woo-product-menu a{
        display: inline-block;
        padding: 0 14px;
        height: 35px;
        font-weight: var(--font-weight-medium);
        text-align: center;
        line-height: 35px;
    }
    
    .sub-menu{
        position: absolute;
        display: none;
        top:0;
        left: 100%;
        width: 100%;
        background-color: var(--white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        transition: var(--transition);
    }

    .footer-services .single-service:not(:last-of-type){
        border-right: 1px solid #808080;
    }
}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .trending-stores{
        column-count: 2;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .banner-wpr{
        grid-template-columns: 1fr;
    }

    .banner-content-wpr{
        padding-left: 20px;
    }

    .banner-widget{
        display: none;
    }

    .brands{
        grid-template-columns: repeat(5,1fr);
    }

    .footer-services .single-service{
        margin-bottom: 24px;
    }

    .footer-services{
        grid-template-columns: repeat(2,1fr);
    }

    .nav-search-input{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 10;
        background-color: var(--white-color);
        padding: 10px 40px;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }

    .nav-search-input.show{
        visibility: visible;
        opacity: 1;
    }

    .nav-search-btn{
        font-size: 1.75rem;
        color: var(--text-color);
        background-color: transparent;
        border-radius: 50%;
        line-height: 100%;
    }

    .woo-product-nav{
        position: fixed;
        top: 0;
        left: -285px;
        width: 280px;
        height: 100vh;
        background-color: var(--white-color);
        padding: 16px;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        transition: left .3s ease-in-out;
    }

    .woo-product-nav.show{
        left: 0;
    }

    .woo-categories-nav,
    .woo-product-menu{
        display: none;
        transition: display var(--transition) linear;
        background-color: var(--white-color) !important;
    }

    .woo-categories-nav.show,
    .woo-product-menu.show{
        display: block;
    }

    .menu-tab-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu-tab-links span{
        color: var(--text-color);
        border-bottom: 2px solid var(--text-color);
        padding: 5px;
        text-align: center;
        transition: var(--transition);
    }

    .menu-tab-links span.active{
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .product-navigation a{
        display: block;
        color: var(--text-color);
        padding: 8px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .product-navigation a i{
        margin-right: 10px;
    }

    .product-navigation .sub-menu{
        display: none;
    }

    .product-navigation a.has-children{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-navigation .sub-menu{
        margin-left: 20px;
    }

    .sidebar-heading{
        padding: 20px 0 10px;
    }
}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .brands{
        grid-template-columns: repeat(4,1fr);
    }

    .news-letter input{
        max-width: 100%;
    }

    .news-sign-up{
        width: 90px;
    }

    .trending-stores{
        column-count: 1;
    }

    .user-details{
        display: none;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px){
    
    .woo-footer-2 .footer-menu a{
        display: block;
        padding: 0;
    }

    .woo-footer-2 .footer-menu a::before{
        content: none;
    }
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .woo-deals{
        flex-direction: column;
        align-items: flex-start;
        gap:5px;
    }

    .brands .card-content p{
        font-size: .75rem;
    }

    .sec-title span{
        display: none;
    }

    .product-content .price{
        font-size: 1rem;
    }

    .product-content .product-details{
        font-size: .9rem;
    }

    .footer-services{
        grid-template-columns: 1fr;
    }

    .footer-services .single-service{
        justify-content: flex-start;
    }

}

/* Max Width 380px */
@media only screen and (max-width:380px){

    .sec-heading h2{
        font-size: 1.5rem;
    }

    .lang-switcher{
        display: none;
    }

    .nav-search{
        margin-left: 90px;
    }
}

/* Max Width 320px */
@media only screen and (max-width:320px){

    .nav-search{
        margin-left: 70px;
    }
}