@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{

    /* Colors */
    --primary-color:#FF3A27;
    --secondary-color:#1A53BD;
    --heading-color:#243E8B;
    --text-color:#242527;
    --text-color-light:#808080;
    --body-bg-color:#F3F3F3;
    --white-color:#ffffff;

    /* Typography */
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition:.3s;
    --shadow: rgba(49,132,255,.8);
    --blur-big:50px;
    --blur-small:30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: var(--body-font);
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2{
    font-size: 30px;
    font-weight: var(--font-weight-medium);
}

h4{
    font-weight: var(--font-weight-medium);
}

p,
span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
}

a{
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover{
    color: var(--text-color);
}

input:not([type="checkbox"]),
textarea,
select,
button {
    outline: none;
    border: none;
}

input::placeholder{
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);

}

/* General Css */

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-100{
    padding-bottom: 100px;
}

.pb-200{
    padding-bottom: 200px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-70{
    padding: 70px 0;
}

.py-80{
    padding: 80px 0;
}

.mr-50{
    margin-right: 50px;
}

.primary-bg{
    background-color: var(--primary-color);
}

.primary-color{
    color: var(--primary-color) !important;
}

.light-bg{
    background-color: var(--body-bg-color) !important;
}

.light-color{
    color: var(--text-color-light) !important;
}

.dark-bg{
    background-color: #012D50 !important;
}

.bold-font{
    font-weight: var(--font-weight-bold);
}

.light-text{
    color: var(--text-color-light);
    font-weight: var(--font-weight-normal);
    line-height: .9;
}

.woo-divider{
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-column-gap: 20px;
}

.woo-btn{
    display: inline-block;
    min-width: 95px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    border: 0.5px solid #808080;
}

.woo-primary-btn{
    color: var(--white-color);
    background-color: #FF6D27;
    border-color: #FF6D27;
}

/* Owl Carousel */

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--text-color);
  width: 40px;
  height: 40px;
  background-color: var(--white-color) !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  transition: 0.3s;
}

.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:hover {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-color);
}

.owl-nav .owl-next {
    right: -18px;
}

.owl-nav .owl-prev {
  left: -18px;
}

.product-slider .owl-nav .owl-next{
    right: 0;
}

.product-slider .owl-nav .owl-prev{
    left: 0;
}

/* Order Sidebar Widget */

.order-summary{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.total-summary p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.total-amount{
    padding-top: 18px;
    border-top: 1px solid rgba(128,128,128,.5);
}

.total-price{
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.order-summary .order-btn{
    display: inline-block;
    width: 100%;
    height: 45px;
    color: var(--white-color);
    background-color: #FF6D27;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.payment-widget{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
}

.ordered-product-details{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-filter-label{
    display: inline-block;
    max-width: 310px;
    height: 30px;
    color: var(--text-color-light);
    padding: 0 10px;
    border-radius: 5px;
    background-color: #F3F3F3;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.product-filter-modal{
    position: absolute;
    max-width: max-content;
    top: 20px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: var(--transition);
    background-color: var(--white-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
}

.product-filter-label.active + .product-filter-modal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.order-meta-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-meta-data .order-quantity span{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

span.product-quantity{
    background-color: #F3F3F3;
}

.order-cancle i{
    font-size: 1.5rem;
    margin-left: 10px;
}

/* Woo Header */

.woo-toolbar{
    height: 40px;
    background-color: var(--primary-color);
}

.woo-toolbar span,
.woo-toolbar a{
    display: inline;
    font-size: .95rem;
    line-height: 40px;
    color: var(--white-color);
}

.woo-main-nav{
    position: relative;
    padding: 28px 0 16px;
}

.nav-search input{
    width: 100%;
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: 1px solid #FF3A27;
    padding-left: 24px;
}

.nav-user{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.nav-right i{
    font-size: 1.75rem;
    vertical-align: baseline;
}

.nav-right .fa-heart{
    color: var(--primary-color);
}

.nav-toggle{
    display: block;
    font-size: 1.5rem;
    margin-right: 16px;
    cursor: pointer;

}

/* Lang Switcher */

.lang-switcher {
    position: relative;
  }
  
  .lang-switcher .flag {
    display: inline-block;
    vertical-align: text-bottom;
  }
  
  .lang-switcher .lang {
    color: #888888;
    font-size: 1.5rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-weight: 500;
  }
  
  .lang-switcher .lang .fa-caret-down {
    position: absolute;
    top: 5px;
    font-size: 20px;
    color: #808080;
    margin-left: 5px;
  }
  
  .lang-switcher .lang-list {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
    padding: 12px;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .lang-switcher .lang-list .single-lang {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
  }
  
  .lang-switcher .lang-list .single-lang .lang-text {
    color: var(--bColor);
    display: block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .lang-switcher .lang-list .single-lang .lang-text:hover {
    color: var(--primary-color);
  }
  
  .lang-switcher .lang-list .single-lang .flag {
    margin-right: 6px;
    border-radius: 50%;
  }
  
  .lang-switcher .lang-list .single-lang:last-child {
    margin-bottom: 0;
  }
  
  .lang-switcher .lang-list::before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
  }
  
  .lang-switcher .lang-list-open {
    opacity: 1;
    top: 52px;
    visibility: visible;
    z-index: 20;
  }
  

/* Main Content */

.woo-main-content{
    background-color: var(--body-bg-color);
}

/* Banner */

.banner-wpr{
    display: grid;
    grid-template-columns: 1fr 240px;
}

.banner-content-wpr{
    width: 100%;
    padding: 0 20px 0 260px;
    overflow: hidden;
}

.banner-main-content img{
    border-radius: 5px;
}

.banner-sub-content{
    padding: 22px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 22px;
}

.banner-sub-content p{
    font-size: .92rem;
    font-weight: var(--font-weight-medium);
    color: var(--white-color);
    line-height: 1.125rem;
}

.banner-sub-content .single-item{
    position: relative;
}

.single-item img{
    border-radius: 5px;
}

.banner-sub-content .single-item h6{
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
}

.banner-widget{
    width: 240px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding:  0 20px;
}

.woo-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image{
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: var(--white-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #808080;
    margin-bottom: 20px;
}

.account-meta-data{
    display: flex;
}

.meta-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding: 40px 0;
}

.meta-icon{
    width: 35px;
    height: 35px;
    background-color: #F3F3F3;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.meta-info p{
    font-size: 14px;
    margin-top: 16px;
}

.woo-policy p{
    font-size: .9rem;
    font-weight: var(--font-weight-bold);
    padding-top: 40px;
    margin-bottom: 10px;
    border-top: 1px solid #808080;
}

.woo-policy ul li{
    font-size: .9rem;
    padding-left: 24px;
    line-height: 30px;
}

/* Sub Banner */

.woo-sub-banner{
    background-color: #9BBCFF;
    padding: 90px 0 100px;
}

.sub-banner-content-wpr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-banner-content{
    display: flex;
    align-items: center;
    gap: 24px;
}

.follow-btn{
    width: 150px;
    height: 44px;
    color: var(--white-color);
    background: linear-gradient(90deg, #FF3B27 0%, #FF6D27 100%);
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
}

/* CallToAction Nav */

.callToAction-nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-top: -25px;
}

.callToAction-nav-menu a:hover,
.callToAction-nav-menu a.active{
    color: var(--primary-color);
}

/* Flash Deals */

.woo-sec-wpr{
    padding: 24px 24px 0;
    background-color: var(--white-color);
    border-radius: 5px;
}

.woo-sec-wpr-2{
    padding: 24px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.sec-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sec-title span{
    position: relative;
    display: inline-block;
    width: 115px;
    height: 2px;
    background-color: #808080;

}

.sec-title span::after{
    position: absolute;
    content: "";
    top: -2px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #808080;
}

.sec-title .line-right::after{
    right: auto;
    left: 0;
}

.sec-heading .fa-bolt{
    background-image: linear-gradient(0deg, #FF6D27 0%, #FF3A27 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woo-timing span{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    background: linear-gradient(0deg, #FF6D27 0%, #FF3A27 100%);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

/* Single Product */

.single-product {
    position: relative;
    display: block;
    height: max-content;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    transition: .3s;
}

.single-product:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.single-product:hover .product-icons a{
    opacity: 1;
    transform: translateX(0);
}

.single-product .product-image img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.single-product .product-content{
    padding: 16px 14px;
}

.price-off{
    display: inline-block;
    min-width: 50px;
    height: 18px;
    font-size: .6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    line-height: 18px;
    text-align: center;
}

.product-details{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.15rem;
    margin-bottom: 5px;
    overflow-y: hidden;
    text-overflow: ellipsis; 
}

.price-less del{
    font-size: 13px;
    color: var(--text-color-light);
}

.price-less{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.product-ratings span{
    font-size: .8rem;
    color: #FEBD3F;
}

.product-icons{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 16px;
}

.product-icons a{
    display: block;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 36px;
    margin-top: 8px;
    opacity: 0;
    transform: translateX(18px);
    transition: .3s;
}

.product-icons a:hover{
    color: var(--primary-color);
}

/* Horizonal Card */

.single-hoz-card{
    display: flex;
    justify-content: space-between;
    gap: 40;
    margin-bottom: 20px;
    background-color: #F3F3F3;
    border-radius: 10px;
}

.single-hoz-card .card-content{
    padding: 20px;
}

.single-hoz-card .card-content p{
    font-size: .81rem;
    font-weight: var(--font-weight-medium);
    margin-top: 20px;
}

.single-hoz-card .card-image img{
    height: 100%;
}

/* Verticle Card */

.single-ver-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-ver-card .card-content{
    padding: 18px 5px;
}

/* Brands */

.brands{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 10px;
}

.brands .card-content p{
    font-weight: var(--font-weight-medium);
}

/* Trending Store */

.trending-stores{
    column-count: 4;
}

/* Shop Name */

.shops{
    column-count: 6;
}

/* Ads Banner */

.ads-wpr img{
    height: 300px;
}

/* Liked Products */

.woo-liked-products .woo-sec-wpr{
    padding: 0;
    background-color: transparent;
}

.products-grid-six{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    grid-column-gap: 16px;
}

.products-grid-five{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 16px;
}

.liked-products .single-product{
    display: none;
    margin-bottom: 16px;
}

.show-more-btn{
    display: inline-block;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    border-radius: 20px;
    background: linear-gradient(90deg, #FF3A27 0%, #FF3A27 0.01%, #FF6D27 100%);
    padding: 10px 24px;
}

.show-more-btn:hover{
    color: var(--white-color);
}

.keywords{
    font-size: 14px;
    color: var(--text-color-light);
}

/* Categori Details */

.woo-breadcrumb .breadcrumb-link{
    position: relative;
    display: inline-block;
    color: var(--text-color-light);
    padding: 0 10px;
}

.breadcrumb-link.active{
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}

.woo-breadcrumb .breadcrumb-link:not(:last-of-type)::after{
    position: absolute;
    content: "\f105";
    right: -5px;
    font-size: 1rem;
    color: var(--text-color-light);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.price-filter-widget input{
    width: 80px;
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    padding-left: 16px;
}

.checkbox-widget{
    display: flex;
    gap: 24px;
}

.checkbox-widget input{
    margin-right: 10px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    --webkit-appearance: none;
    width: 18px;
    height: 17px;
    line-height: 17px;
    padding: 0;
    border: 1px solid var(--text-color-light);
    border-radius: 4px;
    cursor: pointer;
    vertical-align: baseline;
}

input[type="checkbox"]:checked{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
  
input[type="checkbox"]::after{
    position: absolute;
    content: "\f00c";
    top: 0;
    left: 50%;
    display: none;
    font-size: 13px;
    color: var(--white-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    transform: translateX(-50%);
}
  
input[type="checkbox"]:checked::after{
    display: block;
}

.sorting-menu{
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    padding: 8px 0;
}

.product-toolbar .sorting-item{
    display: inline-block;
    font-size: .88rem;
    padding: 0 14px;
    border-right: 1px solid var(--text-color-light);
}

.view-widget .layout-icon{
    font-size: 28px;
}

.categori-details{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 24px;
}

.price-tools{
    flex-wrap: wrap;
    gap: 10px;
}

.filtered-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px, 1fr));
    grid-column-gap: 16px;
}

/* Paginatuon */

.woo-pagination-wpr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: var(--white-color);
    padding: 22px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.pagination-item{
    display: inline-block;
    padding: 5px 16px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin-right: 10px;
    transition: var(--transition);
}

.pagination-item:hover,
.pagination-item.active{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-input input{
    width: 70px;
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}

.woo-premium-products{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Categori sidebar widget */

.woo-sidebar-widget{
    height: max-content;
    background-color: var(--white-color);
    padding: 0  10px 100px 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.single-widget{
    padding: 24px 0 ;
    border-bottom: 1px solid var(--text-color-light);
}

.single-widget .chk-input{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-color);
    margin: 5px 0;
}

/* .single-widget .view-more{
    font-size: 13px;
    color: #2B87FF;
} */

.load-more__btn{
    font-size: 15px;
    color: #2B87FF;
    margin-left: -5px;
}

.categori-widget .categori-menu li a{
    display: inline-block;
    font-size: 14px;
    padding: 4px 0;
    transition: var(--transition);
}

.categori-menu li a:hover,
.categori-menu li a.active{
    font-weight: var(--font-weight-medium);
}

.categori-menu .sub-menu{
    margin-left: 10px;
}

/* All Categories */

.wow-all-categoris-wpr{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-column-gap: 24px;
}

.single-sub-category{
    margin: 10px 0;
}

.category-items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-row-gap: 5px;
    height: 0;
    overflow: hidden;
    background-color: var(--white-color);
    overflow-y: auto;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.single-sub-category.active .category-items{
    height: max-content;
    padding:20px;
}

.category-items a{
    display: inline-block;
}

.category-label{
    position: relative;
    width: 280px;
    height: 40px;
    background-color: var(--white-color);
    padding: 0  20px;
    line-height: 40px;
}

.category-label::after{
    position: absolute;
    content: "\f078";
    right: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: var(--font-weight-bold);
    transition: var(--transition);
}

.single-sub-category.active .category-label{
    color: var(--primary-color);
}

.single-sub-category.active .category-label::after{
    content: "\f077";
    color: var(--text-color);
}

/* Category List 2 */

.category-list-2{
    display: flex;
    gap: 16px;
}

.category-list-2 .nav-link{
    display: inline-block;
    width: 256px;
    height: 60px;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 60px;
}

.category-list-2 .nav-link i{
    font-size: 20px;
    vertical-align: baseline;
    margin-right: 24px;
}

.tab-content .category-items{
    height: max-content;
    overflow-y: visible;
    padding: 20px;
}

.category-tab-heading{
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 0;
    background-color: var(--white-color);
}

.tab-content .tab-close{
    cursor: pointer;
}

/* Single Products Details */

.product-name{
    font-size: 1.20rem;
    font-weight: var(--font-weight-medium);
}

.rating-dropdown{
    font-size: 1.25rem;
    color: var(--text-color);
    vertical-align: sub;
    cursor: pointer;
}

.rating-dropdown:hover + .product-rating-stats{
    bottom: 55px;
    visibility: visible;
    opacity: 1;
}

.detailed-single-product{
    display: grid;
    grid-template-columns: 1fr 300px;
}

.product-main-image img{
    width: 100%;
    height: 550px;
}

.product-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128,128,128,.5);
    padding: 12px 0;
}

.product-category .fas{
    font-size: 24px;
    margin-right: 8px;
}

.size-list span,
.location-list span{
    display: inline-block;
    min-width: 28px;
    padding: 2px 4px;
    border-radius: 3px;
    border:1px solid var(--text-color-light);
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
}

.size-list span:hover{
    border-color: var(--primary-color);
}

.size-list span.active{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.color-list span{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    transition: var(--transition);
    cursor: pointer;
}

.color-list span:hover,
.color-list span.active{
    border-color: var(--primary-color);
}

.cart-btns a{
    display: inline-block;
    width: 200px;
    height: 44px;
    color: var(--white-color);
    text-align: center;
    line-height: 44px;
    border-radius: 5px;
}

.cart-btns .buy-btn{
    background: linear-gradient(90deg, #FF5E27 0%, #FF6D27 100%);
}

.product-rating-stats{
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 290px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
    visibility: hidden;
    opacity: 1;
    transition: var(--transition);
}

.product-rating-stats p:last-child{
    font-size: .75rem;
    margin-top: 4px;
}

.product-rating-stats .single-rating-stat{
    display: grid;
    grid-template-columns: 50px 145px 70px;
    grid-column-gap:5px;
    align-items: center;
}

.product-rating-stats .single-rating-stat .progress{
    height: 8px;
}

.quantity-change{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: var(--white-color);
    text-align: center;
    line-height: 30px;
    transition: var(--transition);
    cursor: pointer;
}

.quantity-change:hover{
    color: var(--white-color);
    background-color: #D2D2D2;
}

.product-rating-stats .single-rating-stat p,
.product-rating-stats .single-rating-stat span{
    font-size: .75rem;
    color: var(--text-color);
}

.product-shop-details{
    max-height: 550px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:20px;
}

.shop-meta-data .meta-title{
    font-size: .9rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

.shop-meta-data{
    padding: 20px 0;
    border-bottom: 1px solid rgba(128,128,128,.5);
}

.shop-meta-data p,
.shop-meta-data a,
.shop-meta-data span{
    font-size: .875rem;
}

.shop-meta-data .fa-map-marker-alt{
    font-size: 1.25rem;
    margin-right: 8px;
}

.reviews-tab-links,
.order-status-tab-links {
    border-bottom: 1px solid rgba(128,128,128,.5);
}

.reviews-tab-links .nav-item{
    padding: 0 20px;
}

.reviews-tab-links .nav-link{
    color: var(--text-color);
    padding: 16px 0;
    margin-right: 40px;
}

.reviews-tab-links .nav-link.active{
    font-weight: var(--font-weight-medium);
    border-bottom: 2px solid var(--text-color);
}

.order-status-tab-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-status-tab-links .nav-link{
    color: var(--text-color);
    padding-bottom: 10px;
}

.order-status-tab-links .nav-link.active{
    border-bottom:  2px solid var(--primary-color);
}

.tab-pane{
    padding: 40px 20px;
}

.overview-list p{
    padding: 4px 0;
}

.rating-points{
    padding-left: 20px;
    border-right: 1px solid rgba(128,128,128,.5);
}

.single-rating-stat{
    display: grid;
    grid-template-columns: 50px 200px 90px;
    grid-column-gap: 20px;
}

.rating-points .product-ratings i{
    font-size: 24px;
}

.progress-bar{
    background-color: #FF6D27;
}

.woo-product-reviews-wpr{
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 24px;
}

#cm-review .load-more__btn-wrap{
    position: absolute;
    right: 0;
    bottom: 24px;
}

#cm-review .load-more__btn{
    color: #2B87FF;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 11px;
}

#cm-review .customer-info img{
    border-radius: 50%;
}

.review-side-widget{
    height: max-content;
    background-color: var(--white-color);
    padding: 16px 16px 0;
    border-radius: 10px;
}

.widget-title{
    padding: 0 0 20px 8px;
    border-bottom: 1px solid rgba(128,128,128,.5);
}

/* verticle Product Slider */

ul.slider-thumb.slick-initialized.slick-slider.slick-vertical {
    max-width: 100px;
    margin-right: 20px;
}

.slider-thumb .slick-slide{
    margin-bottom: 18px;
}

.product-slider-preview .slick-slide img{
    height: 550px;
}

/* Order Preview */

.step-heading p{
    font-size: 1.25rem;
    color: #00A84F;
}

.step-heading p i{
    font-size: 30px;
}

.single-progress-step{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 35px;
}

.single-progress-step::before{
    position: absolute;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: .6rem;
    color: var(--white-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color-light);
    border-radius: 50%;
}

.single-progress-step.checked::before{
    content: "\f00c";
    background-color: #00A84F;
    border: 1px solid #00A84F;
}

.single-progress-step.current::before{
    content: "\f111";
    font-size: .5rem;
    color: #00A84F;
}

.single-progress-step:not(:last-of-type):after{
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    top: 50%;
    left: 38px;
    transform: translateX(-50%);
    background-color: #00A84F;
}

.sec-toolbar{
    display: flex;
    justify-content: space-between;
}

.woo-payment img{
    padding: 12px;
    border-radius: 5px;
    border:1px solid var(--primary-color);
    margin-top: 10px;
}

.single-order{
    padding: 20px 0;
    border-top: 1px solid rgba(128,128,128,.5);
}

.ordered-product{
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.ordered-product .order-quantity{
    position: absolute;
    right: -10px;
}

.ordered-product img{
    border-radius: 10px;
}

.voucher-code input{
    width: 100%;
    box-shadow: inset -4px 4px 4px rgba(0, 0, 0, 0.1), inset 4px -4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 16px;
}

.voucher-code .voucher-btn{
    padding: 7px 16px;
    background-color: var(--white-color);
    border: 0.5px solid #808080;
    border-radius: 5px;
    margin-left: 8px;
}


/* Payment Crad Details */

.card-form{
    width: max-content;
}

.woo-input{
    width: 100%;
    display: flex;
    align-items: center;
}

.woo-verticle-input{
    flex-direction: column;
    align-items: flex-start;
}

.woo-input input:not([type=checkbox]){
    width: 100%;
    border-bottom: 1px solid rgba(128,128,128,.5);
    background-color: transparent;
}

.woo-input input::placeholder{
    font-size: .9rem;
    color: var(--text-color-light);
}

.card-input-wpr{
    width: 100%;
    padding: 50px 24px 20px;
    background-color: #F3F3F3;
    border-radius: 10px;
}

.card-input-wpr label{
    font-size: .8rem;
    color: var(--text-color-light);
}

.card-input-wpr .woo-input input{
    width: 100%;
}

.address-type p{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 16px;
}

.shipment-form .woo-input{
    margin-bottom: 16px;
}

.shipping-address .fa-map-marker-alt{
    font-size: 1.25rem;
    color: #2B87FF;
    margin-right: 10px;
}

/* Payment Card Provider */

.single-card-acc{
    position: relative;
    margin-bottom: 24px;
}

.provider-logo{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
    color: var(--text-color-light);
    border-radius: 50%;
    border: 1px solid var(--text-color-light);
    text-align: center;
    line-height: 50px;
    margin-right: 16px;
}

.single-card-acc .fa-trash-alt{
    position: absolute;
    font-size: 1.25rem;
    right: 0;
    bottom: 5px;
}

.add-account{
    padding: 10px 20px;
    border: 1px solid rgba(128,128,128,.5);
    border-style: dashed;
    border-radius: 5px;
}

.add-account .provider-logo::before{
    position: absolute;
    content: "+";
    top: -4px;
    right: 0;
    width: 20px;
    height: 20px;
    color: rgba(128,128,128,.5);
    background-color: #F3F3F3;
    border-radius: 50%;
    border: 1px solid rgba(128,128,128,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Customer Account */

.customer-profile{
    margin-left: -3px;
}

.customer-profile .customer-info{
    text-align: center;
    padding: 20px;
    background-color: #FF6D27;
    border-radius: 10px 10px 0px 0px;
}

.profile-image img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.customer-phone{
    color: var(--white-color);
    background-color: var(--text-color);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    text-align: center;
}

.account-widget{
    height: max-content;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.account-menu li a{
    display: block;
    padding:8px 0;
}

.account-menu li a i{
    margin-right: 16px;
}

.account-widget .logout-btn{
    display: inline-block;
    width: 100%;
    height: 36px;
    color: var(--white-color);
    text-align: center;
    line-height: 36px;
    background-color: #FF6D27;
    border-radius: 5px;
    margin-top: 140px;
}

/* Order Details */

.single-order-status,
.single-ticket{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 10px;
}

.status-list{
    border-radius: 5px;
}

.status-item{
    display: inline-block;
    font-size: .81rem;
    color: var(--white-color);
    padding: 3px 8px;
    border-radius: 0 5px 5px 0;
}

.status-item:not(:last-of-type){
    margin-right: -3px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid var(--white-color);
}

.status-cancel{
    background-color: #FE1924;
}

.status-paid{
    background-color: #00A84F;
}

.status-unpaid,
.status-picked {
    background-color: #FFB700;
}

.status-delivered{
    background-color: #49B81F;
}

.status-pending{
    background-color: #363636;
}

.status-return{
    color: var(--text-color);
    background-color: #E4E4E4;
}

.status-process{
    background-color: #BE20CD;
}

.status-shipped{
    background-color: #2B87FF;
}

/* Notification */

.single-notification{
    padding: 30px 20px;
    background-color: #F3F3F3;
    border-radius: 10px;
}

.notification-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white-color);
    border-radius: 50%;
    background-color: #FF6D27;
}

.single-notification{
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.notification-content p{
    color: var(--text-color-light);
}

.notification-content p span,
.single-ticket p span{
    display: inline-block;
    font-size: .81rem;
    color: var(--text-color-light);
    margin:0 16px 10px 0;
}

.single-notification .customer-image img{
    border-radius: 50%;
}

.ticket-btn{
    display: inline-block;
    width: 280px;
    height: 46px;
    color: var(--white-color);
    background: #2B87FF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    line-height: 46px;
}

.ticket-btn:hover{
    color: var(--white-color);
}

.woo-ticket-modal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ticket-modal{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 700px;
    background-color: var(--white-color);
    padding: 20px;
    transform: translateX(-50%);
    transition: var(--transition);
}

.woo-ticket-modal.show{
    display: block;
}

.woo-verticle-input{
    flex-direction: column;
    align-items: flex-start;
}

.woo-input select{
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(128,128,128,.5);
    padding-left:10px ;
}

.woo-input textarea{
    width: 100%;
    background: #F3F3F3;
    border: 0.5px solid rgba(128,128,128,.5);
    box-sizing: border-box;
    padding: 10px;
    margin-top: 8px;
}

.upload input[type="file"] { display: none; }

.upload-path {
  display: inline-block;
  width: 90%;
  height: 40px;
  background: rgba(43, 135, 255, 0.2);
  border: 1px dashed #2B87FF !important;
  border-radius: 5px;
  margin:8px 10px 0 0;
}

.upload-path::placeholder{
    font-size: .9rem;
}

.upload span {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: var(--white-color);
  background-color: #2B87FF;
  text-align: center;
  line-height: 30px;
}

/* Account Setting */

.circle img{
    border-radius: 50%;
}

.upload-button{
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: .9rem;
    text-align: center;
    line-height: 30px;
    border: 0.5px solid var(--text-color-light);
    border-radius: 5px;
    margin-top: 24px;
    cursor: pointer;
}

.woo-info-input .input-heading{
    font-size: .9rem;
    color: var(--text-color-light);
    margin-bottom: 5px;
}

.woo-info-input input[type="text"],
.woo-info-input input[type="email"]{
    width: 100%;
    font-size: .9rem;
    border-bottom: 1px solid var(--text-color-light);
    padding-bottom: 5px;
}

.woo-info-input input::placeholder,
.privacy-check label{
    font-size: .9rem;
    color: var(--text-color-light);
}

.privacy-check{
    display: grid;
    grid-template-columns: 18px 1fr;
    align-items: flex-start;
    grid-column-gap: 10px;
}

.woo-info-input{
    width: 100%;
    margin-bottom: 16px;
}

input[type="radio"]{
    position: relative;
    display: inline-block;
    appearance:none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    
    vertical-align: sub;
    margin-right: 5px;
}

input[type="radio"]::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgba(128,128,128,.5);
    border-radius: 50%;
    transition: var(--transition);
}

input[type="radio"]:checked::before{
    border: 5px solid #FF6D27;
}

.dateselector-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
}

.dateselector-default select{
    position: relative;
    width: 100% !important;
    appearance: none;
    border: 0;
    border-bottom: 1px solid rgba(128,128,128,.5);
    border-radius: 0;
    background-image: url("../images/logo/caret-down-solid.svg");
    background-position: 95% center;
    background-size: 10px;
    background-repeat: no-repeat;
    outline: none;
}

/* Login In Form */

.woo-sign{
    min-height: calc(100vh - 330px);
    padding: 100px 0;
}

.woo-log-form{
    position: relative;
    left: 50%;
    max-width: 400px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    padding: 32px 24px;
}

.woo-log-form input:not([type="checkbox"]),
.modal-form input{
    padding:  0 10px;
}

.woo-sign-up,
.woo-sign-in,
.sign-with-phone,
.sign-with-mail{
    display: none;
    transition: display var(--transition);
}

.woo-sign-up.show,
.woo-sign-in.show,
.sign-with-phone.show,
.sign-with-mail.show{
    display: block;
}

.log-tab-links span,
.sign-up-options span{
    display: inline-block;
    padding: 8px 20px;
    transition: .3s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.log-tab-links span.active,
.sign-up-options span.active{
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    border-bottom-color: var(--primary-color);
}

.sign-up-options span i{
    font-size: 1.25rem;
    margin-right: 5px;
}

.log-btn{
    width: 100%;
    height: 42px;
    color: var(--white-color);
    font-weight: var(--font-weight-medium);
    background: linear-gradient(89.91deg, #FF6D27 0.06%, #FF3A27 99.9%);
    box-shadow: 0px 4px 4px rgba(255, 72, 39, 0.2);
    border-radius: 5px;
    margin: 20px 0;
}

.policy-checkbox label{
    display: inline;
    line-height: 20px;
    margin:-3px 0 0 8px;
}

.pass-input{
    position: absolute;
    bottom: 0;
    right: 0;
}

.otp-source span{
    font-size: .85rem;
    color: var(--text-color-light);
}

.otp-number input{
    width: 40px;
    height: 50px;
    background: #F3F3F3;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-right: 7px;
}

.woo-sign .woo-input{
    flex-direction: column;
    align-items: flex-start;
}

.woo-sign .woo-input label{
    font-size: .81rem;
    color: var(--text-color-light);
    padding-left: 10px;
}


/* Footer */

.woo-footer{
    background-color: #012D50;
}

.woo-footer-2{
    background-color: #012D50;
    padding: 100px 0;
    text-align: center;
}

.woo-footer-2 .footer-menu a{
    position: relative;
    display: inline-block;
    color: var(--white-color);
    padding: 0 20px;
    margin-bottom: 10px;
}

.footer-menu a:not(:last-of-type)::before{
    position: absolute;
    content: "";
    right: 0;
    height: 90%;
    border: .5px solid rgba(128,128,128,.5);
}

.footer-services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 0;
}

.footer-services .single-service{
    display: flex;
    gap: 16px;
}

.service-content .service-name{
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    margin-bottom: 12px;
}

.service-content .service-des{
    font-size: 14px;
    color: var(--white-color);
}

.woo-footer-widget h6{
    color: var(--white-color);
    margin-bottom: 16px;
}

.main-footer{
    padding: 80px 0;
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
}

.main-footer p,
.main-footer span{
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

.footer-list li a{
    display: block;
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
    margin-top: 16px;
    transition: var(--transition);
}

.footer-list li a:hover{
    color: var(--white-color);
}

.app-stores{
    display: flex;
    gap: 16px;
}

.news-letter{
    position: relative;
    margin: 24px 0;
}

.news-letter input{
    width: 65%;
    height: 40px;
    font-size: .81rem;
    color: var(--text-color-light);
    background-color: transparent;
    border-radius: 20px;
    border: 0.5px solid #808080;
    padding-left: 16px;

}

.news-letter input::placeholder{
    font-size: .81rem;
}

.news-sign-up{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100%;
    font-size: .81rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    border-radius: 20px;
    background: linear-gradient(90deg, #FF3A27 0%, #FF3A27 0.01%, #FF6D27 100%);
    margin-left: 16px;
}

.colored-text{
    font-size: 14px;
    color: var(--primary-color);
}

.footer-bottom{
    padding: 40px 0;
    border-bottom: 1px solid var(--text-color-light);
}

.footer-social-links a{
    margin-right: 4px;
}


