@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{

    /* Colors */
    --primary-color:#FF3A27;
    --secondary-color:#1A53BD;
    --heading-color:#243E8B;
    --text-color:#242527;
    --text-color-light:#808080;
    --body-bg-color:#F3F3F3;
    --white-color:#ffffff;

    /* Typography */
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition:.3s;
    --shadow: rgba(49,132,255,.8);
    --blur-big:50px;
    --blur-small:30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: var(--body-font);
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2{
    font-size: 30px;
    font-weight: var(--font-weight-medium);
}

h4{
    font-weight: var(--font-weight-medium);
}

p,
span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
}

a{
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover{
    color: var(--text-color);
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
    border: none;
}

input::placeholder{
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);

}

/* General Css */

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-100{
    padding-bottom: 100px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-70{
    padding: 70px 0;
}

.py-80{
    padding: 80px 0;
}

.mr-50{
    margin-right: 50px;
}

.primary-bg{
    background-color: var(--primary-color);
}

.primary-color{
    color: var(--primary-color) !important;
}

.light-bg{
    background-color: var(--body-bg-color) !important;
}

.light-color{
    color: var(--text-color-light) !important;
}

.dark-bg{
    background-color: #012D50 !important;
}

.bold-font{
    font-weight: var(--font-weight-bold);
}

.light-text{
    color: var(--text-color-light);
    font-weight: var(--font-weight-normal);
    line-height: .9;
}

/* Woo Header */

.woo-toolbar{
    height: 40px;
    background-color: var(--primary-color);
}

.woo-toolbar span,
.woo-toolbar a{
    display: inline;
    font-size: .95rem;
    line-height: 40px;
    color: var(--white-color);
}

.woo-main-nav{
    padding: 28px 0 16px;
}

.nav-search{
    position: relative;
    margin: 0 16px;
}

.nav-search input{
    width: 100%;
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: 1px solid #FF3A27;
    padding-left: 24px;
}

.nav-search-btn{
    position: absolute;
    width: 45px;
    height: 100%;
    top: 0;
    right: -20px;
    font-size: 18px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
}

.nav-user{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.nav-right i{
    font-size: 1.75rem;
    vertical-align: baseline;
}

.nav-right .fa-heart{
    color: var(--primary-color);
}

.woo-categories-nav{
    width: 100%;
    height: 35px;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 5px 5px 0 0;
    line-height: 35px;
    cursor: pointer;
}


.category-list{
    position: relative;
    height: max-content;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transform: scaleY(1);
    transform-origin: top;
    transition: var(--transition);
    line-height: 35px;
    z-index: 10;
}

.woo-categories-nav.active .category-list{
    transform: scaleY(0);
}

.category-list li a{
    display: inline-block;
    width: 100%;
    padding: 4px 0 4px 16px;
    font-weight: var(--font-weight-normal);
    text-align: left;
    transition: var(--transition);
    opacity: 1;
    visibility: visible;
}

.woo-categories-nav.active li a{
    opacity: 0;
    visibility:hidden;
}

.category-list li a:hover{
    background-color: #F3F3F3;
}

.category-list li:hover > .sub-menu{
   display: block;
}

.category-list li a i{
    font-size: 1rem;
    margin-right: 14px;
}

.woo-categories-nav .category-list li a i{
    margin-right: 5px;
}

.woo-product-menu a{
    display: inline-block;
    padding: 0 14px;
    height: 35px;
    font-weight: var(--font-weight-medium);
    text-align: center;
    line-height: 35px;
}

.sub-menu{
    position: absolute;
    display: none;
    top:0;
    left: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}


/* Lang Switcher */

.lang-switcher {
    position: relative;
  }
  
  .lang-switcher .flag {
    display: inline-block;
    vertical-align: text-bottom;
  }
  
  .lang-switcher .lang {
    color: #888888;
    font-size: 1.5rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-weight: 500;
  }
  
  .lang-switcher .lang .fa-caret-down {
    position: absolute;
    top: 5px;
    font-size: 20px;
    color: #808080;
    margin-left: 5px;
  }
  
  .lang-switcher .lang-list {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 15px 65px 5px rgba(0, 0, 0, 0.07);
    padding: 12px;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .lang-switcher .lang-list .single-lang {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
  }
  
  .lang-switcher .lang-list .single-lang .lang-text {
    color: var(--bColor);
    display: block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .lang-switcher .lang-list .single-lang .lang-text:hover {
    color: var(--primary-color);
  }
  
  .lang-switcher .lang-list .single-lang .flag {
    margin-right: 6px;
    border-radius: 50%;
  }
  
  .lang-switcher .lang-list .single-lang:last-child {
    margin-bottom: 0;
  }
  
  .lang-switcher .lang-list::before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
  }
  
  .lang-switcher .lang-list-open {
    opacity: 1;
    top: 52px;
    visibility: visible;
    z-index: 9;
  }
  

/* Main Content */

.woo-main-content{
    background-color: var(--body-bg-color);
}

/* Banner */

.banner-content-wpr{
    width: 852px;
}

.banner-main-content img{
    border-radius: 5px;
}

.banner-sub-content{
    padding: 22px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 22px;
}

.banner-sub-content p{
    font-size: .92rem;
    font-weight: var(--font-weight-medium);
    color: var(--white-color);
    line-height: 1.125rem;
}

.banner-sub-content .single-item{
    position: relative;
}

.single-item img{
    border-radius: 5px;
}

.banner-sub-content .single-item h6{
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
}

.banner-widget{
    width: 250px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding:  0 20px;
    margin-left: 72px;
}

.woo-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image{
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: var(--white-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #808080;
    margin-bottom: 20px;
}

.account-meta-data{
    display: flex;
}

.meta-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding: 40px 0;
}

.meta-icon{
    width: 35px;
    height: 35px;
    background-color: #F3F3F3;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.meta-info p{
    font-size: 14px;
    margin-top: 16px;
}

.woo-policy p{
    font-size: .9rem;
    font-weight: var(--font-weight-bold);
    padding-top: 40px;
    margin-bottom: 10px;
    border-top: 1px solid #808080;
}

.woo-policy ul li{
    font-size: .9rem;
    padding-left: 24px;
    line-height: 30px;
}

/* Sub Banner */

.woo-sub-banner{
    background-color: #9BBCFF;
    padding: 90px 0 100px;
}

.sub-banner-content-wpr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-banner-content{
    display: flex;
    align-items: center;
    gap: 24px;
}

.follow-btn{
    width: 150px;
    height: 44px;
    color: var(--white-color);
    background: linear-gradient(90deg, #FF3B27 0%, #FF6D27 100%);
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
}

/* CallToAction Nav */

.callToAction-nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-top: -25px;
}

.callToAction-nav-menu a:hover,
.callToAction-nav-menu a.active{
    color: var(--primary-color);
}

/* Flash Deals */

.woo-sec-wpr{
    padding: 24px 24px 0;
    background-color: var(--white-color);
    border-radius: 5px;
}

.sec-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sec-title span{
    position: relative;
    display: inline-block;
    width: 115px;
    height: 2px;
    background-color: #808080;

}

.sec-title span::after{
    position: absolute;
    content: "";
    top: -2px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #808080;
}

.sec-title .line-right::after{
    right: auto;
    left: 0;
}

.sec-heading .fa-bolt{
    background-image: linear-gradient(0deg, #FF6D27 0%, #FF3A27 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.woo-timing span{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    background: linear-gradient(0deg, #FF6D27 0%, #FF3A27 100%);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

/* Single Product */

.single-product {
    position: relative;
    display: block;
    height: max-content;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    transition: .3s;
}

.single-product:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.single-product:hover .product-icons a{
    opacity: 1;
    transform: translateX(0);
}

.single-product .product-image img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.single-product .product-content{
    padding: 16px 14px;
}

.price-off{
    display: inline-block;
    min-width: 50px;
    height: 18px;
    font-size: .6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    line-height: 18px;
    text-align: center;
}

.product-details{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.15rem;
    margin-bottom: 5px;
    overflow-y: hidden;
    text-overflow: ellipsis; 
}

.price-less del{
    font-size: 13px;
    color: var(--text-color-light);
}

.price-less{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.product-ratings span{
    font-size: .8rem;
    color: #FEBD3F;
}

.product-icons{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 16px;
}

.product-icons a{
    display: block;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 36px;
    margin-top: 8px;
    opacity: 0;
    transform: translateX(18px);
    transition: .3s;
}

.product-icons a:hover{
    color: var(--primary-color);
}

/* Horizonal Card */

.single-hoz-card{
    display: flex;
    justify-content: space-between;
    gap: 40;
    margin-bottom: 20px;
    background-color: #F3F3F3;
    border-radius: 10px;
}

.single-hoz-card .card-content{
    padding: 20px;
}

.single-hoz-card .card-content p{
    font-size: .81rem;
    font-weight: var(--font-weight-medium);
    margin-top: 20px;
}

.single-hoz-card .card-image img{
    height: 100%;
}

/* Verticle Card */

.single-ver-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-ver-card .card-content{
    padding: 18px;
}

/* Brands */

.brands{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.brands .card-content p{
    font-weight: var(--font-weight-medium);
}

/* Trending Store */

.trending-stores{
    column-count: 4;
}

/* Shop Name */

.shops{
    column-count: 6;
}

/* Ads Banner */

/* Liked Products */

.woo-liked-products .woo-sec-wpr{
    padding: 0;
    background-color: transparent;
}

.products-grid-six{
    display: grid;
    grid-template-columns: repeat(6,minmax(210px,1fr));
    grid-column-gap: 16px;
}

.liked-products .single-product{
    display: none;
    margin-bottom: 16px;
}

.show-more-btn{
    display: inline-block;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    border-radius: 20px;
    background: linear-gradient(90deg, #FF3A27 0%, #FF3A27 0.01%, #FF6D27 100%);
    padding: 10px 24px;
}

.show-more-btn:hover{
    color: var(--white-color);
}

.keywords{
    font-size: 14px;
    color: var(--text-color-light);
}

/* Categori Details */

.woo-breadcrumb .breadcrumb-link{
    position: relative;
    display: inline-block;
    color: var(--text-color-light);
    padding: 0 10px;
}

.breadcrumb-link.active{
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}

.woo-breadcrumb .breadcrumb-link:not(:last-of-type)::after{
    position: absolute;
    content: "\f105";
    right: -5px;
    font-size: 1rem;
    color: var(--text-color-light);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.price-filter-widget input{
    width: 80px;
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    padding-left: 16px;
}

.checkbox-widget{
    display: flex;
    gap: 24px;
}

.checkbox-widget input{
    margin-right: 10px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    --webkit-appearance: none;
    width: 18px;
    height: 17px;
    line-height: 17px;
    padding: 0;
    border: 1px solid var(--text-color-light);
    border-radius: 4px;
    cursor: pointer;
    vertical-align: baseline;
}

input[type="checkbox"]:checked{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
  
input[type="checkbox"]::after{
    position: absolute;
    content: "\f00c";
    top: 0;
    left: 50%;
    display: none;
    font-size: 13px;
    color: var(--white-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    transform: translateX(-50%);
}
  
input[type="checkbox"]:checked::after{
    display: block;
}

.sorting-menu{
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    padding: 8px 0;
}

.product-toolbar .sorting-item{
    display: inline-block;
    font-size: .88rem;
    padding: 0 14px;
    border-right: 1px solid var(--text-color-light);
}

.view-widget .layout-icon{
    font-size: 28px;
}

.categori-details{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 24px;
}

.filtered-products{
    column-count: 5;
}

/* .single-widget ul  li,
.brand-list a{
    display: none;
    transition: .2s;
} */


/* Paginatuon */

.woo-pagination-wpr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 22px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.pagination-item{
    display: inline-block;
    padding: 5px 16px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin-right: 10px;
    transition: var(--transition);
}

.pagination-item:hover,
.pagination-item.active{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-input input{
    width: 70px;
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}

.woo-premium-products{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Categori sidebar widget */

.woo-sidebar-widget{
    height: max-content;
    background-color: var(--white-color);
    padding: 0  10px 100px 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.single-widget{
    padding: 24px 0 ;
    border-bottom: 1px solid var(--text-color-light);
}

.single-widget .chk-input{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-color);
    margin: 5px 0;
}

/* .single-widget .view-more{
    font-size: 13px;
    color: #2B87FF;
} */

.load-more__btn{
    font-size: 15px;
    color: #2B87FF;
    margin-left: -5px;
}

.categori-widget .categori-menu li a{
    display: inline-block;
    font-size: 14px;
    padding: 4px 0;
    transition: var(--transition);
}

.categori-menu li a:hover,
.categori-menu li a.active{
    font-weight: var(--font-weight-medium);
}

.categori-menu .sub-menu{
    margin-left: 10px;
}

/* All Categories */

.wow-all-categoris-wpr{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-column-gap: 24px;
}

.single-sub-category{
    margin: 10px 0;
}

.category-items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-row-gap: 5px;
    height: 0;
    overflow: hidden;
    background-color: var(--white-color);
    overflow-y: auto;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.single-sub-category.active .category-items{
    height: max-content;
    padding:20px;
}

.category-items a{
    display: inline-block;
}

.category-label{
    position: relative;
    width: 280px;
    height: 40px;
    background-color: var(--white-color);
    padding: 0  20px;
    line-height: 40px;
}

.category-label::after{
    position: absolute;
    content: "\f078";
    right: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: var(--font-weight-bold);
    transition: var(--transition);
}

.single-sub-category.active .category-label{
    color: var(--primary-color);
}

.single-sub-category.active .category-label::after{
    content: "\f077";
    color: var(--text-color);
}

/* Category List 2 */

.category-list-2{
    display: flex;
    gap: 16px;
}

.category-list-2 .nav-link{
    display: inline-block;
    width: 256px;
    height: 60px;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 60px;
}

.category-list-2 .nav-link i{
    font-size: 20px;
    vertical-align: baseline;
    margin-right: 24px;
}

.tab-content .category-items{
    height: max-content;
    overflow-y: visible;
    padding: 20px;
}

.category-tab-heading{
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 0;
    background-color: var(--white-color);
}

.tab-content .tab-close{
    cursor: pointer;
}

/* Single Products Details */

.product-reviews .nav{
    border-bottom: 1px solid rgba(128,128,128,.5);
}

.product-reviews .nav-item{
    padding: 0 20px;
}

.product-reviews .nav-link{
    color: var(--text-color);
    padding: 16px 0;
    margin-right: 40px;
}

.product-reviews .nav-link.active{
    font-weight: var(--font-weight-medium);
    border-bottom: 2px solid var(--text-color);
}

.reviews-content .tab-pane{
    padding: 40px 20px;
}

.overview-list p{
    padding: 4px 0;
}

.customer-ratings{
    display: grid;
    grid-template-columns:  1fr 2fr;
}

.single-rating-stat{
    display: grid;
    grid-template-columns: 50px 400px 100px;
}

.rating-points .product-ratings i{
    font-size: 26px;
}

.progress-bar{
    background-color: #FF6D27;
}

.product-reviews-wpr{
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 24px;
}

.widget-title{
    padding: 0 0 20px 8px;
    border-bottom: 1px solid rgba(128,128,128,.5);
}

/* Footer */

.woo-footer{
    background-color: #012D50;
}

.footer-services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 0;
}

.footer-services .single-service{
    display: flex;
    gap: 16px;
}

.footer-services .single-service:not(:last-of-type){
    border-right: 1px solid #808080;
}

.service-content .service-name{
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    margin-bottom: 12px;
}

.service-content .service-des{
    font-size: 14px;
    color: var(--white-color);
}

.woo-footer-widget h6{
    color: var(--white-color);
    margin-bottom: 16px;
}

.main-footer{
    padding: 80px 0;
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
}

.main-footer p,
.main-footer span{
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

.footer-list li a{
    display: block;
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
    margin-top: 16px;
    transition: var(--transition);
}

.footer-list li a:hover{
    color: var(--white-color);
}

.app-stores{
    display: flex;
    gap: 16px;
}

.news-letter{
    position: relative;
    margin: 24px 0;
}

.news-letter input{
    width: 65%;
    height: 40px;
    font-size: .81rem;
    color: var(--text-color-light);
    background-color: transparent;
    border-radius: 20px;
    border: 0.5px solid #808080;
    padding-left: 16px;

}

.news-letter input::placeholder{
    font-size: .81rem;
}

.news-sign-up{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100%;
    font-size: .81rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    border-radius: 20px;
    background: linear-gradient(90deg, #FF3A27 0%, #FF3A27 0.01%, #FF6D27 100%);
    margin-left: 16px;
}

.colored-text{
    font-size: 14px;
    color: var(--primary-color);
}

.footer-bottom{
    padding: 40px 0;
    border-bottom: 1px solid var(--text-color-light);
}

.footer-social-links a{
    margin-right: 4px;
}